.wrapper {
  position: fixed;
  top: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: var(--headerBgColor);
  height: 40px;  
  box-sizing: content-box;
  border: 0.5rem solid white;
}
.box {
  position: relative;
  height: 40px;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  background-color: var(--headerBgColor);
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}
.logo_v2 {
  position: relative;
}
/* .logo_v2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  min-width: 6rem;
  min-height: 6rem;
  background-color: cadetblue;
  z-index: 1000;
} */
/* .logo_v2::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  min-width: 6rem;
  min-height: 6rem;
  background-color: cadetblue;
  z-index: 1000;
} */
.bar {
  display: none;
}
.burger {
  display: flex;
    align-items: center;
  cursor: pointer;
}
@media (min-width: 740px) {
  .burger {
    display: none;
  }
  .bar {
    display: flex;
    align-items: center;
  }
}
