.flex{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.2rem;
}
.flex h2{
	font-size: 1.2rem;
	color: var(--logoFontColor);
}
.flex>h2{
	color: var(--logoHoverColor);
	/* font-size: 1.2rem; */
}

.in{
	display: block;
border: 0.2rem solid  var(--logoFontColor);
border-radius: 50%;
width: 60px;
height: 60px;
}
.logo {
	animation-name: logo-spin;
	animation-duration: 10s;  
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  @keyframes logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
