@import-normalize;

html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  min-height: 100%;
}
*,
a,
link,
*::before,
*::after,
*:focus {
  border: none;
  box-sizing: inherit;
  background-repeat: no-repeat;
  text-decoration: none;
	color:inherit
}

li {
  list-style-type: none;
	text-decoration: none;
}
section,
article,
use,
svg,
html,
body,
ol,
ul,
li,
dl,
dt,
dd,
div,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
