/* --d:#fff;
	--d:#ffe;
	--d:#ffd;
	--d:#ffc;
	--d:#ffb;
	--d:#ffa;
	--d:#ff9;
	--d:#ff8;
	--d:#ff7;
	--d:#ff6;
	--d:#ff5;
	--d:#ff4;
	--d:#ff3;
	--d:#ff2;
	--d:#ff1;
	--d:#ff0;
	--d:#fe0;
	--d:#fe1;
	--d:#fe2;
	--d:#fe3;
	--d:#fe4;
	--d:#fe5;
	--d:#fe6;
	--d:#fe7;
	--d:#fe8;
	--d:#fe9;
	--d:#fea;
	--d:#feb;
	--d:#fec;
	--d:#fed;
	--d:#fee;
	--d:#fef;
	--d:#eef;
	--d:#def;
	--d:#cef;
	--d:#bef;
	--d:#aef;
	--d:#9ef;
	--d:#8ef;
	--d:#7ef;
	--d:#6ef;
	--d:#5ef;
	--d:#4ef;
	--d:#3ef;
	--d:#2ef;
	--d:#1ef;
	--d:#0ef;
	--d:#0ee;
	--d:#0ed;
	--d:#0ec;
	--d:#0eb;
	--d:#0ea;
	--d:#0e9;
	--d:#0e8;
	--d:#0e7;
	--d:#0e6;
	--d:#0e5;
	--d:#0e4;
	--d:#0e3;
	--d:#0e2;
	--d:#0e1;
	--d:#0e0;
	--d:#0d1;
	--d:#0d2;
	--d:#0d3;
	--d:#0d4;
	--d:#0d5;
	--d:#0d6;
	--d:#0d7;
	--d:#0d8;
	--d:#0d9;
	--d:#0da;
	--d:#0db;
	--d:#0dc;
	--d:#0dd;
	--d:#0de;
	--d:#0df;
	--d:#1df;
	--d:#2df;
	--d:#3df;
	--d:#4df;
	--d:#5df;
	--d:#6df;
	--d:#7df;
	--d:#8df;
	--d:#9df;
	--d:#adf;
	--d:#bdf;
	--d:#cdf;
	--d:#ddf;
	--d:#edf;
	--d:#fdf;
	--d:#fde;
	--d:#fdd;
	--d:#fdc;
	--d:#fdb;
	--d:#fda;
	--d:#fd9;
	--d:#fd8;
	--d:#fd7;
	--d:#fd6;
	--d:#fd5;
	--d:#fd4;
	--d:#fd3;
	--d:#fd2;
	--d:#fd1;
	--d:#fd0; */
